backbone:
  # [from, module, args]
  - [-1, StemBlock, [16, 16, True]] # 0-P2/4
  - [-1, HG_Stage, [16, 64, 1, 3, False, False, 3, True, 'se']] # 1-P2/4
  - [-1, HG_Stage, [32, 256, 1, 3, True, False, 3, True, 'se']] # 2-P3/8
  - [-1, HG_Stage, [64, 512, 2, 3, True, True, 5, True, 'se']]  # 3-P4/16
  - [-1, HG_Stage, [128, 1024, 1, 3, True, True, 5, True, 'se']] # 4-P5/32

encoder:
  - [2, ConvNormLayer_fuse, [256, 1, 1]] # 5-P3/8
  - [3, ConvNormLayer_fuse, [256, 1, 1]] # 6-P4/16
  - [4, ConvNormLayer_fuse, [256, 1, 1]] # 7-P5/32

  - [-1, TransformerEncoderBlock, [8, 1024, 0.1, "relu", 10000, False]] # 8-P5/32

  - [-1, HFP, [None, [8, 8], False]] # 9-P5/32

  - [-1, nn.Upsample, [None, 2, "nearest"]] # 10-P4
  - [6, HFP, [None, [8, 8], False]] # 11-P4
  - [[-1, 10], SDP, [256, [20, 20]]] # 12-P4

  - [-1, nn.Upsample, [None, 2, "nearest"]] # 13-P3
  - [5, HFP, [[0.25, 0.25], [8, 8], True]] # 14-P3
  - [[-1, 13], SDP, [256, [20, 20]]] # 15-P3

  - [[12, 10], Add, []] # 16-P4
  - [[15, 13], Add, []] # 17-P3

  - [9, Conv, [256, 3]] # 18-P5
  - [16, Conv, [256, 3]] # 19-P4
  - [17, Conv, [256, 3]] # 20-P3

decoder:
  - [[20, 19, 18], DFINETransformer, {"feat_strides":[8, 16, 32], "hidden_dim": 256, "num_levels": 3, "num_layers": 3, "num_points": [3, 6, 3], "dim_feedforward": 1024}]